* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.left-tab {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: darkslategray;
  font-weight: 600;
}

.left-tab .tab-item{
  color: white;
  padding: 10%;
  border-bottom: 1px solid gray;
  opacity: 0.6;
  cursor: pointer;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
}

.tab-item.active {
  opacity: 1;
}
